
InstagramData/Instagram_Year_1.csv
InstagramData/Instagram_Year_2.csv
InstagramData/Instagram_Year_3.csv
InstagramData/Instagram_Year_4.csv
InstagramData/Instagram_Year_5.csv
InstagramData/Instagram_Year_6.csv
InstagramData/Instagram_Year_7.csv
instagram_7yrs_agg.csv
InstagramData/SZA_Chainsmoker_Insta.csv
artist_social_media_combined.csv
Data/Facebook_7_year.csv
Data/Instagram/Instagram_Year_1.csv
Data/Instagram/Instagram_Year_2.csv
Data/Instagram/Instagram_Year_3.csv
Data/Instagram/Instagram_Year_4.csv
Data/Instagram/Instagram_Year_5.csv
Data/Instagram/Instagram_Year_6.csv
Data/Instagram/Instagram_Year_7.csv
Data/SZA_Chainsmoker_FB.csv
Data/SZA_Chainsmoker_Twitter.csv
Data/Twitter_5_year.csv
instagram_7yrs_cleaned.csv
CleanedDatasets/Combined_Social_Data.csv
CleanedDatasets/master_artists_list.csv
CleanedDatasets/SocialData/facebook_7yrs.csv
CleanedDatasets/SocialData/twitter_features.csv
CleanedDatasets/SocialData/youtube_to_combine.csv
CleanedDatasets/musicbrainz_data.csv
CleanedDatasets/Combined_Social_Data2.csv
InstagramData/Instagram_7_year_new_artists.csv
CleanedDatasets/Combined_Social_Data_Pickle.pkl
ArtistList_July2.xlsx
ArtistList_July2_withDetails.xlsx
instagram_7yrs_cleaned.pkl
master_artists_list.csv
July8Data/facebook_7yrs.csv
July8Data/musicbrainz_data.csv
July8Data/twitter_features.csv
July8Data/youtube_to_combine.csv
*.pkl
*.csv
